model/
logs/
log/
__pycache__/
.vscode/
.env
wandb/
*.__pyc
*.zip
outputs/
model.pt
image_viewer/
render_logs/
*.glb
*.png
*.pkl
*.gif
*.csv
api/
test_random_floor/
node_modules/
3D-FUTURE-model/
frontend/
backend/